<div id="content-scroller">
	<div class="sticky">
		<button routerLink="/" style="margin-right: 20px;">Home Page</button>
		<button routerLink="two">Second Page</button>
	</div>
	<p>Click between "Home Page" and "Second Page" links after scrolling page, then use back button to demonstrate
		custom <a
			href="https://github.com/angular/angular/blob/d1ea1f4c7f3358b730b0d94e65b00bc28cae279c/packages/common/src/viewport_scroller.ts">ViewportScroller</a>
		implementation. See <a href="https://github.com/angular/angular/issues/24547#issuecomment-648525026">this issue
			comment</a> for details.</p>
	<router-outlet></router-outlet>
</div>